[Desktop Entry]
Name=Sioyek
Comment=PDF viewer for reading research papers and technical books
Keywords=pdf;viewer;reader;research;
TryExec=sioyek
Exec=sioyek %f
StartupNotify=true
Terminal=false
Type=Application
Icon=sioyek-icon-linux
Categories=Development;Viewer;
MimeType=application/pdf;
