[Desktop Entry]
Version=1.0
Type=Application
MimeType=application/pdf;
Name=Sioyek
Exec=sioyek
Icon=sioyek-icon-linux
Comment=PDF viewer for reading research papers and technical books
Categories=Development;Viewer;
Keywords=pdf;viewer;reader;research;
