goto_begining       gg
goto_end            <S-g>
goto_definition     gd
goto_toc            gt
goto_bookmark       gb
goto_bookmark_g     g<S-b>
next_item           n
previous_item       <S-n>
set_mark            m
goto_mark           `
search              /
move_down           j
move_down           <down>
move_up             k
move_up             <up>
move_left           l
move_left           <right>
move_right          h
move_right          <left>
zoom_in             <S-=>
zoom_out            =
open_document       o
next_page           .
previous_page       ,
debug               x
add_bookmark        <S-m>
link                y
pop_state           w
test_command        <C-a>
next_state          <C-l>
prev_state          <C-h>
delete              d