debug               x
goto_begining       gg
goto_begining       <home>
goto_end            <S-g>
goto_end            <end>
goto_definition     gd
goto_toc            gt
goto_bookmark       gb
goto_bookmark_g     g<S-b>
next_item           n
previous_item       <S-n>
set_mark            m
goto_mark           `
search              /
ranged_search       r/
chapter_search      c/
move_down           j
move_down           <down>
move_up             k
move_up             <up>
move_left           l
move_left           <right>
move_right          h
move_right          <left>
zoom_in             <S-+>
zoom_out            =
open_document       o
open_prev_doc       <S-o>
next_page           .
previous_page       ,
add_bookmark        <S-m>
link                y
pop_state           w
test_command        <C-a>
next_state          <C-l>
prev_state          <C-h>
prev_state          <backspace>
next_state          <C-<right>>
prev_state          <C-<left>>
delete              d
goto_link           f
goto_link           <tab>
edit_link           <S-f>
edit_link           <S-<tab>>
copy                <C-c>
toggle_fullscreen   <f11>
toggle_one_window   <f12>
toggle_highlight    <f1>
command             <S-:>
search_selected_text_in_google_scholar      <S-s>
search_selected_text_in_libgen              <S-l>
screen_down         <S-j>
screen_down         <space>
screen_up           <S-k>
screen_up         <S-space>
screen_down         <pagedown>
screen_up           <pageup>
next_chapter        gc
prev_chapter        g<S-c>