# The color with which the screen is cleared before rendering the pdf
background_color    1.0 1.0 1.0
dark_mode_background_color    0.0 0.0 0.0
dark_mode_contrast			0.8

# Highlight color when text is selected using mouse
text_highlight_color    1.0 1.0 0.0

# The color of vertical line which is displayed when right click is being pressed
vertical_line_color    0.0 0.0 0.0 0.1
vertical_line_width    4.0
vertical_line_freq     0.0005

# Highlight color when text is a search match
search_highlight_color  0.0 1.0 0.0

# Hihglight color for PDF links (note that highlight is off by default
# and can only be seen by performing a toggle_highlight command. See keys.config for more details)
link_highlight_color    0.0 0.0 1.0

# Hihglight color for synctex forward search highlights
synctex_highlight_color    1.0 0.0 1.0

google_scholar_address  https://scholar.google.com/scholar?q=
libgen_address          http://gen.lib.rus.ec/scimag/?q=

# The factor by which we increase/decrease zoom when performing zoom_in or zoom_out
zoom_inc_factor         1.2

# How many inches we move vertically/horizontally when performing move_* commands
vertical_move_amount    1.0
horizontal_move_amount    1.0

# When performing screen_down/screen_up we usually don't move a full screen because it causes the user to lose context
# Here we specify the fraction of the screen width by which we move when performing these commands
move_screen_percentage      0.5

# style of various UI elements  (in Qt CSS)
item_list_stylesheet                background-color: black; color: white; border: 0;
item_list_selected_stylesheet       background-color: white; color: black;
text_command_line_stylesheet        background-color: black; color: white; border: none;
status_label_stylesheet             background-color: black; color: white; border: 0

# If 0, Table of Contents is shown in a hierarchial tree, otherwise it is a flat list
flat_toc                            0
# If it is 1, when launching the application if we detect multiple monitors, we automatically launch the helper window in second monitor
should_use_multiple_monitors        0

# if the last opened document is empty, load the tutorial pdf instead
should_load_tutorial_when_no_other_file	1

# if it is 0, then we use the previous instance of sioyek when launching a new file.
# otherwise a new instance is launched every time we open a new file.
should_launch_new_instance				0

# the command to use when trying to do inverse search into a LaTeX document. Uncomment and provide your own command.
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command 		"C:\Users\Lion\AppData\Local\Programs\Microsoft VS Code\Code.exe" -r -g %1:%2
