background_color    1.0 1.0 1.0
text_highlight_color    1.0 1.0 0.0
search_highlight_color  0.0 1.0 0.0
link_highlight_color    0.0 0.0 1.0
google_scholar_address  https://scholar.google.com/scholar?q=
libgen_address          http://gen.lib.rus.ec/scimag/?q=
zoom_inc_factor         1.2
vertical_move_amount    1.0
horizontal_move_amount    1.0
move_screen_percentage      0.5
item_list_stylesheet                background-color: black; color: white; border: 0;
item_list_selected_stylesheet       background-color: white; color: black;
text_command_line_stylesheet        background-color: black; color: white; border: 0;
status_label_stylesheet             background-color: black; color: white; border: 0